$yellow: #f5c518;
$gray:#1f1f1f;
$font-gray:rgba(255, 255, 255, .6);
$gray-transparent:rgba(255, 255, 255, .07);
$blue: #136bc2;

$font-mega: 32px;
$font-big: 24px;
$font-medium: 20px;
$font-standard: 16px;
$font-small: 14px;